
<div class="content">
    <div class="row">
        <div class="logo">
            <i class="far fa-grin-squint fontAwesome"></i>
        </div>
    </div>
    <div class="row">
        <div  style="text-align:center">
            <h1 class="h1">THIS IS MVC APPLICATION IN .NET CORE 2.1 <i class="far fa-grin-squint"></i> </h1>
        </div>
    </div>
</div>